.icon-fb {
  width: 1em;
  height: 1em;
  fill: #3b5998;
  stroke: initial;
}
.icon-odnoklass {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: #4d76a1;
  stroke: initial;
}
