//begin header
+b.HEADER.header(class= headerClass ? headerClass : '')
	+e.container.container
		+e.top
			+e.A.logo.logo(href='#!')
				+e.IMG(src='static/img/logo.png' alt='image')
				+e.P Завод санитарных модулей

			+e.BUTTON.hamburger.js-nav-btn(type='button').hamburger-menu
				.bar

			+b.contact-line.header__contact-line
				+e.item
					+e.item-icon
						.icon-clock
					+e.P.item-text Пн-пт: с
						span 9-00
						= ' '
						| до
						= ' '
						span 18-00

				+e.item
					+e.item-icon
						.icon-tel
					+e.A.item-text(href='tel:+71111111111') +7 (111)
						span 111-11-11

				+e.item
					+e.item-icon
						.icon-mail
					+e.A.item-text(href='mailto:info@zsmod.ru') info@zsmod.ru

		+b.NAV.nav.header__nav.js-nav
			ul
				li.is-active: a(href='#!') ГЛАВНАЯ
				li: a(href='#!') ТУАЛЕТЫ
				li: a(href='#!') ДУШЕВЫЕ
				li: a(href='#!') КОМБИНИРОВАННЫЕ
				li: a(href='#!') САНПРОПУСКНИКИ
				li: a(href='#!') О КОМПАНИИ